@model IEnumerable<JobPortal.Data.ViewModel.ReadApplicantVM>

@{
    ViewData["Title"] = "Admin";
}

<h2>List of Applicants</h2>

<div class=" d-flex justify-content-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Admin" asp-action="ListOfJobs">List of Jobs</a>
        </li>
    </ul>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Job Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>CV</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Download", "Download", "Admin", new {id = item.ApplicantId},null)
                </td>
            </tr>
        }
    </tbody>
</table>


